footer {
    overflow-x: hidden;
}
footer *:not(span):not(button):not(i):not(li) {
    color: #aaa;
}
.lightMode footer .border-b-thin {
    border-bottom: solid 0.7px #ffffff44;
}
.darkMode footer {
    border-top: solid 0.5px #ffffff77;
}
.fotterUpper > a > div {
    background: #a50;
}
footer span {
    color: #8f55bb;
    white-space: nowrap;
}
.darkMode form label,
.lightMode form label {
    color: #0bf;
}
.lightMode form *:not(label):not(button) {
    color: #fff;
}
footer form > input,
footer form > textarea {
    border: solid 0.7px #ffffff77;
    resize: none;
    outline: none;
}
footer li {
    color: #bbb;
    border-left: solid 2px #555;
    cursor: pointer;
}
footer form {
    background: #000 !important;
}
footer form input,
footer form textarea {
    border-bottom: solid 0.5px #ffffffaa;
}

@media (min-width: 1204px) {
    footer > div {
        width: 80%;
        margin: 0 auto;
    }
    footer * {
        font-size: 12px;
    }
}