.experiences {
    background-image: url('/images/experience.png');
    overflow-x: hidden;
}
.expWrapper {
    gap: 20px;
}
.darkMode .experienceCard {
    background-color: #2a2a2acc;
}
.lightMode .experienceCard {
    background-color: #ddddddaa;
    border: solid 0.7px #00000055;
}
.darkMode .coreSystemText {
    color: #8f55bb;
}
.lightMode .coreSystemText {
    color: #6040a0;
}
.darkMode .expTech {
    color: #c90;
    border: solid 0.7px #cc990088;
}
.lightMode .expTech {
    color: #6c45ab;
    border: solid 0.5px #6c45ab;
}

@media (min-width: 1024px) {
    .experiences {
        width: 80%;
        margin: 0 auto;
    }
    .experienceCard {
        width: calc(100%/2 - 20px/2);
    }
}