.skills {
    background-image: url('/images/skills.png');
    overflow-x: hidden;
}
.otherSkillWrapper {
    gap: 10px;
}
.otherSkillWrapper .skillCard,
.otherSkillWrapper .skillCardTemp {
    width: calc(100%/2 - 10px/2);
}
.darkMode .skillCard {
    background-color: #151515;
    border: solid 0.7px #555;
    border-left: solid 5px #555;
}
.lightMode .skillCard {
    background-color: #e1e1e1;
    border: solid 0.7px #aaa;
    border-left: solid 5px #aaa;
}
.darkMode .skillLevel {
    background: #ffffff22;
}
.skillLevel {
    overflow: hidden;
    border-radius: 5px;
}
.skillLevel > div {
    height: 100%;
}
.darkMode .skillLevel > div {
    background: #960;
}
.lightMode .skillLevel {
    background: #00000022;
}
.lightMode .skillLevel > div {
    background: #8f55bb;
}


/* Settings */
.darkMode .skillSettingsWrapper > div {
    background: #333333dd;
}
.lightMode .skillSettingsWrapper > div {
    background: #eeeeeedd;
}
.darkMode .skillCardTemp {
    background-color: #111;
    border: dashed 0.7px;
    border-left: solid 5px #555;
}
.lightMode .skillCardTemp {
    background-color: #eee;
    border: dashed 0.7px;
    border-left: solid 5px #aaa;
}

@media (min-width: 1024px) {
    .skills {
        width: 80%;
        margin: 0 auto;
    }
    .otherSkillWrapper .skillCard,
    .otherSkillWrapper .skillCardTemp {
        width: calc(100%/4 - 30px/4);
    }
}